/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    

    /* whitespace */
    
}   

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

body {
    background-image: url("../PNG/Backgrounds/74385.jpg");
    background-color: #000;
    color: #fff;
    font-family: 'Love Ya Like A Sister', arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
   
}

.quizWallpaper{
    background-image: url('../PNG/Backgrounds/2.jpg');
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

h1 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

.invisible {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

.visible {
    visibility: visible;
    position: static;
}

.o-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    max-width: 64em; /* 79.5 * 16px = 1272 */
    width: 100%;
}


/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: app__main
*/

.-app__main {
    margin: 48px;
    overflow: hidden;
}
 
.c-title {
    text-align: center;
    font-size: 70px;
    line-height: 70px;
}

.c-space {
    padding-top: 64px;
}

canvas{
	background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
   z-index: -1;
  
}

.c-label {
    font-size: 40px;
    line-height: 16px;   
}

.c-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 5px solid #707070;
    border-radius: 15px;
    color: #000;
    background-color: #fff;
    font-family: inherit;
    font-size: 32px;
    line-height: 24px;
    outline: none;
    padding: 16px;
}
.c-input-2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50%;
    border: 5px solid #707070;
    border-radius: 15px;
    color: #000;
    background-color: #fff;
    font-family: inherit;
    font-size: 32px;
    line-height: 24px;
    outline: none;
    padding: 16px;
}


.c-input:hover, .c-input-2:hover {
    border-color: #575B90;
}

.c-button-center {
    display: flex;
    justify-content: center;
}

.c-button {
    font-size: 40px;
    font-family: inherit;
    font-weight: 700;
    border-radius: 15px;
    border: 5px solid #fff;
    background-color: #575B90;
    color: #fff;
    padding: 24px;
    line-height: 24px;
    width: 400px;
    outline: none;
    text-align: center;
    justify-content: center;
}

.c-button-2 {
    background-color: #575B90;
    font-family: inherit;
    border: 2px solid #fff;
    color: #fff;
    margin: 10px auto 50px auto;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1em;
	height: 50px;
	letter-spacing: 0.2px;
	line-height: 50px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 150px;
	transition: none;
	box-shadow: rgba(0, 0, 0, 0.5);
	font-weight: 800;
}

.c-logout { 
    padding-top: 24px;
    padding-left: 24px;
    position: right;
   height: 40px;
}

.c-button:hover, .c-button-2:hover {
    border-color: #575B90;
}

.c-antwoord-center {
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
}

.c-antwoord-1 {
    font-size: 40px;
    font-family: inherit;
    font-weight: 700;
    border-radius: 15px;
    border: 5px solid #fff;
    background-color: #CD6060;
    color: #fff;
    padding: 24px;
    line-height: 24px;
    width: 400px;
    outline: none;
}

.c-antwoord-2 {
    font-size: 40px;
    font-family: inherit;
    font-weight: 700;
    border-radius: 15px;
    border: 5px solid #fff;
    background-color: #A8B033;
    color: #fff;
    padding: 24px;
    line-height: 24px;
    width: 400px;
    outline: none;
}

.c-antwoord-3 {
    font-size: 40px;
    font-family: inherit;
    font-weight: 700;
    border-radius: 15px;
    border: 5px solid #fff;
    background-color: #7AAAFC;
    color: #fff;
    padding: 24px;
    line-height: 24px;
    width: 400px;
    outline: none;
}

.c-antwoord-4 {
    font-size: 40px;
    font-family: inherit;
    font-weight: 700;
    border-radius: 15px;
    border: 5px solid #fff;
    background-color: #1FB829;
    color: #fff;
    padding: 24px;
    line-height: 24px;
    width: 400px;
    outline: none;
}

.c-cirkel {
    font-size: 40px;
    font-family: inherit;
    font-weight: 700;
    border-radius: 100px;
    border: 5px solid #fff;
    background-color: #fff;
    color: #000;
    padding: 24px;
    line-height: 24px;
    height: 25px;
    width: 25px;
    outline: none;
    display: flex;
    justify-content: center;
}

.c-monster {
    position: relative;
    height: 200px;
    margin-top: 160px;
}

.c-monsters:hover {
    border-radius: 100px;
    background-color: #575B90;
}

.c-mon{
    position: relative;
    height: 100px;
    margin-top: 40px;
}

.c-mo{
    position: relative;
    height: 100px;
    margin-top: 80px;
}

.c-monsters {
    height: 96px
}

/*
    Component: app__footer
*/

.c-app__footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #44C9F6;
    height: 64px; 
    padding: 16px;
    bottom: 0;
    width: 100%;
    justify-items: center;
    position: fixed;
}

.c-logo  {
    height: 100%;
}

/*
    Component: grid
*/

.c-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.c-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.c-grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.c-grid-8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

/*
FOR HEARTSENSOR
*/
.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 32px;        
    text-align: left;
    vertical-align: top;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    background: rgba(0, 0, 0, 0);
    color: #fff;
    width: 69%; /* Set the width of the positioned div */
}



/* Box styles */
.myBox {
    border: none;
    padding: 5px;
    width: 100%;
    height: 450px;
    overflow: scroll;
    }
    
    /* Scrollbar styles */
    ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    
    
    ::-webkit-scrollbar-thumb {
    background: white;  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: grey;  
    }